.globalTitle {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  margin: 1rem;
}

.countriesTitle {
  margin: 1rem;
  line-height: 1.15;
  font-size: 1.5rem;
}

.countryName {
  color: blue;
}
.globalSummaryWrapper {
  margin-bottom: 2rem;
}

.countriesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warningInformation {
  color: red;
}

.positiveInformation {
  color: green;
}

.globalBulletPoints {
  list-style-type: circle;
  background-color: cornsilk;
}

.globalBulletPoints li {
  margin: 0.5rem;
}

.HeadingWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: lightblue;
}

.date {
  font-size: 1.2rem;
}
